.contact-container {
  min-height: 100vh;
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 30px;
  box-sizing: border-box;
}

.contact-box {
  width: 100%;
  max-width: 720px; /* wider form */
  background: var(--color-card);
  padding: 45px;
  border-radius: 22px;
  
  backdrop-filter: blur(14px);
}

.contact-box h1 {
  text-align: left;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: large;
}

.contact-box p {
  text-align: left;
  margin-bottom: 30px;
  color: var(--color-muted-foreground);
}

.contact-box form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.contact-box input,
.contact-box textarea {
  background: transparent;
  border: 1px solid var(--color-primary);
  padding: 14px;
  border-radius: 12px;
  
  outline: none;
  font-size: 1rem;
}

.contact-box textarea {
  min-height: 120px;
  resize: none;
}

.contact-box span {
  font-size: 0.8rem;
  color: #ff9b9b;
}

.contact-box button {
  margin-top: 10px;
  background: var(--color-primary);
  border: none;
  padding: 14px;
  border-radius: 14px;
  color: var(--color-primary-foreground);
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.contact-box button:hover {
  background: color-mix(in oklab, var(--color-primary) , black 10%);
 
}

/* Mobile tweaks */
@media (max-width: 768px) {
  .contact-box {
    padding: 30px;
  }

  .contact-box h1 {
    font-size: 2rem;
  }
}
