.logo-carousel {
  --logo-card-w: 10rem;
  --logo-card-h: 8rem;
  --logo-gap: 1.5rem;
  --logo-total-gap: calc(var(--card-count) * var(--logo-gap) + var(--logo-gap));
  overflow: hidden;
  position: relative;
  width: calc(
    calc(var(--card-count) * var(--logo-card-w)) + var(--logo-total-gap)
  );
  padding: 20px 0;
  display: flex;
  
  margin: 0 auto;
}


/* Fade effect on edges */
.logo-carousel::before,
.logo-carousel::after {
  content: "";
  position: absolute;
  top: 0;
  width: 120px;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.logo-carousel::before {
  left: 0;
  background: linear-gradient(to right, var(--color-background), transparent);
}

.logo-carousel::after {
  right: 0;
  background: linear-gradient(to left, var(--color-background), transparent);
}

.logo-group {
  flex: 0 0;
  display: flex;
  align-items: center;

  animation: spin 20s linear infinite;
  gap: var(--logo-gap);
  padding-right: var(--logo-gap);
}
.logo-carousel:hover .logo-group{
  animation-play-state: paused;
}

@keyframes spin {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.logo {
  flex: 0 0 var(--logo-card-w);
  height: var(--logo-card-h);
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  height: 60%;
  object-fit: contain;
}

.logo div {
  margin-top: auto;
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--color-muted-foreground);
}

@media (max-width:500px) {
  .logo-carousel{
    --logo-gap:.5rem;
  
  }
}